

body,main{
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu_nav{
	background-color: #e93136;
}

#sair{
	padding: 11px;
	cursor: pointer;
}

#img_menu{
	cursor: pointer;
	padding: 11px;
}

#uesb_menu{
	height: 70px;
}

#menu{
	background-color: #302d65;
	width: 0px;
	height: 100%;
	z-index: 9999999;
	position: absolute;
	top: 0px;
	left: 0px;
}

#menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu li{
	display: none;
	width: 0px;
	border: 1px solid #918fad;
	padding-left: auto;
	padding: 20px 0px 20px 0;
	text-align: center;
	cursor: pointer;
}

#menu li a{
	color: white;
	text-decoration: none;
}

#logo_sirlab_central{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
}

.home-logo{
	margin-top: -200px;
}

.login_logo{
  margin-top: -120px;
  display: none;
}

#form_login{
  width:250;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -115px;
  display: none;
}

#form_login button{
	width: 100%;
}

button{
	background-color: #302d65!important;
}

#form_email_cadastro{
	width: 600px;
	margin: auto;
}

#lista_lab{
	list-style: none;
	width: 900px;
	margin: auto;
}

#lista_lab li{
	margin-top: 20px;
	cursor: pointer;
	font-weight: bold;
	border-bottom: 2px solid #cfcedb;
	text-align: center;
	font-size: 30px;
}

#lista_lab a{
		color: #4b4b4e;
		text-decoration: none;
}

#add_lab{
	height: 90px;
	cursor: pointer;
	position: fixed;
	left: 1128px;
	margin-top: 20px;
}

#pop-up{
	display:none;
	width: 400px;
	border: 1px solid #918fad;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -300px;
	background-color: white;
}

#pop-up h2{
	padding-top: 15px;
	text-align: center;
}

#pop-up form{
	padding: 15px;
}

#pop-up button{
	width: 100%;
}

#msg_cadastro_lab{
	display: none;
	margin: 0;
}

.icon_delete{
	height: 35px;
	float: right;
	margin-right: 10px;
}

.controle_horario{
	float: left;
	margin-top: 95px;
}

#add_horario,#remove_horario{
	height: 50px;
	cursor: pointer;
}
#pop-up-add-horario{
	display: none;
	width: 400px;
	border: 1px solid #918fad;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	background-color: white;
	z-index: 99999;
}

#pop-up-add-horario h2{
	padding-top: 15px;
	text-align: center;
}

#pop-up-add-horario form{
	padding: 15px;
}

#pop-up-add-horario button{
	width: 100%;
}

.item_horario{
	cursor: pointer;
}

.tabela_reserva{
	float: right;
}

.tabela_reserva tr img{
	padding-bottom: 5px;
	cursor: pointer;
}

.reservas_professor_form{
	margin: 10px 0 10px 65px;
}

.hidden{
	display: none;
}

.form_cadastro,.form_cadastro h2{
	margin: auto;
	text-align: center;
}

.form_cadastro h2{
	margin: 20px;
}

.form_atualizar,.form_atualizar h2{
	margin: auto;
	text-align: center;
}

.form_atualizar h2{
	margin: 20px;
}
